body {
  font-size: 16px;
  color: rgb(33, 37, 41);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
  width: 65%; /* Set container width for PC */
  margin: 0 auto;
  padding: 20px; /* Add space around the container */
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 60%; /* Set container width for tablet */
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%; /* Set container width for mobile */
    padding: 10px; /* Reduce padding for mobile */
  }
}

/* Space between components */
.container > *:not(:last-child) {
  margin-bottom: 20px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Search box */
.search-box {
  order: -1; /* Move search box to the beginning */
}

.search-box {
  width: 260px;
  height: 30px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
  padding: 6px 12px;
  border-radius: 4px;
}

.search-box:focus {
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

.search-box-container {
  position: relative;
  width: 260px;
}

.search-box-input {
  width: 260px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.shortcut {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #999;
}


/* Table */
.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
  flex-grow: 1; /* Table takes up remaining space */
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table th {
  background-color: #f2f2f2;
}

/* Define fixed column widths */
.table th:first-child,
.table td:first-child {
  width: 50px; /* Width for serial number column */
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 150px; /* Fixed width for Place Name column */
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 100px; /* Fixed width for Country column */
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .table th,
  .table td {
    font-size: 14px;
  }
}

.limit-input {
  display: flex;
  width: 100px;
  height: 20px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
  padding: 6px 12px;
  border-radius: 4px;
}

.pagination {
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
